<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetIRC.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <NetIRC.Desktop.Properties.Settings>
            <setting name="RealName" serializeAs="String">
                <value>NetIRC User</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value>NetIRCUser</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>irc.rizon.net</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Alternative" serializeAs="String">
                <value>AltNick182</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>Rizon</value>
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultChannel" serializeAs="String">
                <value>#NetIRC</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </NetIRC.Desktop.Properties.Settings>
    </userSettings>
</configuration>
